*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}


.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}


.border{
  display: block;
  margin: auto;
  height:3px;
  width: 400px;
  background: grey;
  margin-bottom:40px;

}

.column{
  float: left;
  width: 30%;
  padding: 5px;

}
.row::after{
  content: "";
  display: table;
}



.image{
  width: 20rem;
  height: 22rem;
  padding: 0.5px;
  border-radius: 3px;

}


.title{
  text-align: center;
  
}

.section1{
  width=60%;
  margin: 50px;
  font-size: 20px;
  padding: 50px;
}

.section2{
  width=60%;
  margin: 50px;
  font-size: 20px;
  padding: 50px;
}

.section3{
  width=60%;
  margin: 50px;
  font-size: 20px;
  padding: 50px;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.container h1{
  padding-top: 20px;
  margin-top: 30px;
  text-align: center;
}

.container {
  height: 40%;
  width: 80%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
